# Python & Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env

# YOLO & Model weights
*.pt
runs/
work/
submission/

# Large archives (keep raw code & guidelines clean)
*.zip
*.tar.gz
*.mp4
*.mov
*.avi

# Dataset local folders
raw_drive_data/
anonymized_drive_data/
draft_labels/
dataset_draft/
dataset/
dataset_v2/
raw_new_images/
du_lieu/
preview_samples/

raw_images/
raw_videos/

# OS files
.DS_Store
Thumbs.db
